[submodule "nvim-treesitter"]
	path = pack/syntax/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "nvim-lspconfig"]
	path = pack/lsp/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "precognition.nvim"]
	path = pack/motion/start/precognition.nvim
	url = https://github.com/tris203/precognition.nvim.git
[submodule "hop.nvim"]
	path = pack/motion/start/hop.nvim
	url = https://github.com/smoka7/hop.nvim.git
