*.exe
*.pdf
*.png
.idea/*

# doc/tags from `:helptags ~/.config/nvim/doc`
doc/tags

# ctags
tags

# 此目錄保存您所有自定義的書籤
bookmarks/

# 此內容可以寫自己的自定義
lua/my-customize.lua

.DS_Store
.aider*
!.aiderignore
!.aider.conf.yml
